<a href="https://colab.research.google.com/github/FlanagG21/DCC-Capstone/blob/main/CS4664_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Movies

In [ ]:
#establish connection to google drive - needs to be run from personal account
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/MyDrive/DCC Project/' #change this to match your google drive

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

# import kaggle movie data
kaggle_movies = pd.read_csv(file_path + 'wiki_movie_plots_deduped.csv')
#kaggle_movies.head()
#kaggle_movies.count() - 34,886

In [ ]:
#limit to just English/British movies
kaggle_movies = kaggle_movies[kaggle_movies['Origin/Ethnicity'].isin(['American', 'British'])]
#filtered_df.count()

In [ ]:
#clean up dataframe
kaggle_movies['Unique ID'] = kaggle_movies['Title'] + '-' + kaggle_movies['Release Year'].astype(str)
kaggle_movies = kaggle_movies[['Unique ID', 'Release Year', 'Title', 'Genre', 'Plot']]
#kaggle_movies.head()

In [ ]:
#import cmu movie data
cmu_movies = pd.read_csv(file_path + 'movie.metadata.tsv', delimiter='\t')
cmu_movies.columns = ['Wikipedia Movie ID',
                      'Freebase Movie ID',
                      'Title',
                      'Release Date',
                      'Box Office Revenue',
                      'Runtime',
                      'Languages',
                      'Countries',
                      'Genre']
#cmu_movies.head()

In [ ]:
#add plots
cmu_plots = pd.read_csv(file_path + 'plot_summaries.txt', delimiter='\t')
cmu_plots.columns = ['Wikipedia Movie ID', 'Plot']
#cmu_plots.head()
#cmu_plots.count()

cmu_movies = pd.merge(cmu_plots, cmu_movies, on='Wikipedia Movie ID', how='left')
#cmu_movies.head()

In [ ]:
#clean up dataframe
cmu_movies['Release Year'] = cmu_movies['Release Date'].str[:4]
cmu_movies['Unique ID'] = cmu_movies['Title'] + '-' + cmu_movies['Release Year'].astype(str)
cmu_movies = cmu_movies[['Unique ID', 'Release Year', 'Title', 'Genre', 'Plot']]
#cmu_movies.head()
cmu_movies.count() #42,202 unique

Unique ID       42202
Release Year    39584
Title           42202
Genre           42202
Plot            42302
dtype: int64

In [ ]:
#concat the two dataframes together

joined_movies = pd.concat([kaggle_movies, cmu_movies], ignore_index=True)
print(f"Joined Movies\nCount:\n{joined_movies.count()}") #63,249
print(f"\nUnique count: {joined_movies['Unique ID'].nunique()}") #50,287

movies = joined_movies.drop_duplicates(subset=['Unique ID'])
print(f"\n\nMovies\nCount:\n{movies.count()}") #50,287
print(f"\nUnique count: {movies['Unique ID'].nunique()}") #50,287

Joined Movies
Count:
Unique ID       63249
Release Year    60631
Title           63249
Genre           63249
Plot            63349
dtype: int64

Unique count: 50287


Movies
Count:
Unique ID       50287
Release Year    47680
Title           50287
Genre           50287
Plot            50288
dtype: int64

Unique count: 50287

In [ ]:
movies.head()

,Unique ID,Release Year,Title,Genre,Plot
0,Kansas Saloon Smashers-1901,1901,Kansas Saloon Smashers,unknown,"A bartender is working at a saloon, serving dr..."
1,Love by the Light of the Moon-1901,1901,Love by the Light of the Moon,unknown,"The moon, painted with a smiling face hangs ov..."
2,The Martyred Presidents-1901,1901,The Martyred Presidents,unknown,"The film, just over a minute long, is composed..."
3,"Terrible Teddy, the Grizzly King-1901",1901,"Terrible Teddy, the Grizzly King",unknown,Lasting just 61 seconds and consisting of two ...
4,Jack and the Beanstalk-1902,1902,Jack and the Beanstalk,unknown,The earliest known adaptation of the classic f...

**NOTES**
*  'movies' contains the combined data from the two movie sources.
*   columns: Unique ID, Release Year, Title, Genre, Plot
*   The Unique ID is for cases when movies are re-released in a different year with the same title